@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default;
}

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  --color-primary: oklch(48% 0.11 176);
  --color-primary-content: oklch(98% 0.01 176);
}

html {
  min-width: 320px;
}

body {
  min-height: 100dvh;
}
